<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--   namespace:命名空间 -->
<mapper namespace="com.yc.ssq.bean.LotteryResultMapper">

<!-- 加入带日志的 ehcache 缓存 -->
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	
	<!-- 批量添加 -->
	<insert id="addLotteryResult" parameterType="LotteryResult">
		insert into lotteryResult(ssq_issue,resulttime,redball,blueball) values
		<foreach collection="list" open="" close="" separator="," item="item">
			(#{item.ssq_issue},#{item.resulttime},
			#{item.redball},#{item.blueball} )
		</foreach>
	</insert>
	
	<delete id="deleteOldResult">
		delete from lotteryResult
	</delete>
	
	<select id="findLotteryResult" parameterType="java.lang.String" resultType="LotteryResult">
		select ssq_issue,resulttime,redball,blueball from lotteryResult where ssq_issue=#{ssq_issue}	
	</select>
	
</mapper>
