<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.users.bean.AnnosMapper">

	<!-- 加入带日志的缓存 -->
 	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
 	</cache> 	
 	
	
	<!-- 添加公告-->
	<insert id="saveAnnos" useGeneratedKeys="true" keyProperty="anid">
		insert into annos(title,adate,content,auth)  values(#{title},#{adate},#{content},#{auth})
	</insert>	 	
	
	<!-- 查出首页公告数据 -->
	<select id="getAnnos" resultType="Annos">
		select * from annos limit 10
	</select>
	
	<!-- 查看公告详情 -->
	<select id="konwAnnos" parameterType="Annos" resultType="Annos">
		select anid from annos where title=#{title}
	</select>
	
	<select id="detailAnnos" parameterType="Annos" resultType="Annos">
		select * from annos where anid=#{anid}
	</select>
	
	<!-- 更新新闻表数据 -->
	<update id="cleanAnnos">
		truncate table annos
	</update>
	
	
</mapper>