<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.soccer.bean.JczqMapper">

	<!-- 加入带日志的 ehcache 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<!-- 添加下注信息 -->
	<insert id="addJczq" parameterType="Jczq" useGeneratedKeys="true" keyProperty="jid">
		insert into jczq(order_id,game_id,predict,odds,times,result) values
		<foreach collection="list" open="" close="" separator="," item="item">
			(#{item.order_id},#{item.game_id},#{item.predict},#{item.odds},#{item.times},#{item.result})
		</foreach>
	</insert>

	<!-- 通过game_id模糊查询 -->
	<select id="selectJczqByGameId" parameterType="Jczq" resultType="Jczq">
		select * from jczq where game_id like #{game_id} order by game_id asc
	</select>
	
	<!-- 开奖,修改下注信息表(jczq)的result -->
	<update id="openJczqLottery" parameterType="Jczq">
        update jczq set result = ${result} where jid = ${jid} 
	</update>
</mapper>