<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.soccer.bean.Jczq_orderMapper">

	<!-- 加入带日志的 ehcache 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<!-- 添加下注订单  -->
	<insert id="addOrder" parameterType="Jczq_order" useGeneratedKeys="true" keyProperty="joid">
		insert into jczq_order(userid, order_id, guoguan_type, amount, bonus, last_time, buy_time)
		values(#{userid}, #{order_id}, #{guoguan_type}, #{amount}, #{bonus}, #{last_time}, now())
	</insert>

	<!-- 查出每个过关订单的下注赔率和倍数 -->
	<!-- 
		1.统计每个订单的中奖数量 (即在每个订单号(order_id)下注信息(jczq)中result=1的个数)
		2.如果中奖数量大于订单个数,就开始算奖金
	 -->
	 <select id="selectWinInfo" resultType="Jczq">
		 select a.order_id,odds,times,guoguan_type from 
			 jczq a
			join 
		  
		  (select b.order_id,guoguan_type from
		    
		    (select * from 
		    
		    (select order_id,count(*) num from jczq where result = 1 group by order_id)a
		    
		    where a.order_id in
		    (select order_id from jczq_order where userid = #{userid}))b
		    
		  join
				(select * from jczq_order)c
		  on 
			b.order_id = c.order_id and num	&gt;=c.guoguan_type and unix_timestamp(last_time)>=(unix_timestamp(date_format(now(),'%Y-%m-%d'))-24*60*60))d
		   on  a.order_id = d.order_id
	 </select>
	 
	 
	 <!-- 查出用户所有的订单id -->
	 <select id="selectAllOrder" resultType="Jczq_order">
	        select * from jczq_order where userid = #{userid}
	        order by buy_time desc
	        <if test="start != null and pagesize != null">
				limit #{start},#{pagesize}
			</if>
	 </select>
	 
	 <select id="selectOrderDetail" resultType="OrderDetail" parameterType="Jczq_order">
		select order_id,guoguan_type,amount,bonus,last_time,buy_time,c.game_id,predict,odds,times,result,league_name,home_name,away_name,game_time from
			(select a.order_id,guoguan_type,amount,bonus,last_time,buy_time,game_id,predict,odds,times,result from
				(select * from 
					jczq_order 
				 where 
					order_id in (select order_id from jczq_order where userid = #{userid}))a
			left join
				(select * from jczq)b
			on
				a.order_id = b.order_id)c
		left join
			(select game_id,league_name,home_name,team_name as away_name,game_time from 
				(select game_id,league_name,team_name as home_name,away_id,game_time from 
					(select game_id,league_name,home_id,away_id,game_time from 		
						(select 
							game_id,league_id,home_id,away_id,game_time 
						from 
							game)a
						left join 
							(select * from league)b
						on 
							a.league_id = b.league_id)c
					left join
						(select * from team)e
					on 
						home_id = team_id)f
				left join
					(select * from team)g
				on
					f.away_id = g.team_id)d
			on
				c.game_id = d.game_id
			order by buy_time desc
			<if test="start != null and pagesize != null">
				limit #{start},#{pagesize}
			</if>
	 </select>
	 
	 
	 <!-- 查出用户的订单数 -->
	<select id="getOrderCount" resultType="double" parameterType="Jczq_order">
		select count(*) from jczq_order where userid = #{userid} 
	</select>
	
	
	
	<!-- 保存奖金 -->
	<update id="updateBonus" parameterType="Jczq_order">
		update jczq_order set bonus = #{bonus} where order_id = #{order_id}
	</update>
	
	<select id="findDetailByOrderId" parameterType="Jczq_order" resultType="OrderDetail">
	    select a.game_id,league_name,home_name,away_name,predict,odds,times,result from
	    (
			select game_id,league_name,home_name,team_name as away_name from 
			(
				select game_id,league_name,team_name as home_name,away_id from 
				(
					select game_id,league_name,home_id,away_id from 
					(
						select game_id,league_id,home_id,away_id from game where game_id in
						(
							select game_id from jczq  
						)
					)a
					left join
						(select league_id,league_name from league)b
					on 
						a.league_id = b.league_id
				)a
				left join
					(select team_id,team_name from team)b
				on
					team_id = home_id    
			)a
			left join
				(select team_id,team_name from team)b
			on
				team_id = away_id
		 )a
		join
			(select * from jczq where order_id = #{order_id})b
	     on
			a.game_id = b.game_id	
	</select>
</mapper>