
#title{
	font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	font-weight:blur;
	font-size:25px;
	padding:50px 200px 0 0;	
	
}

#auth{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	padding:5px 200px 0 0;
	margin:5px 0 0 0;
	fonsize:20px;
}

#content{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	margin:5px 0 0 0;
	padding:5px 329px 0 0;

	
}