<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/mvc"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xsi:schemaLocation="
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

         
            <!-- spring mvc对静态资源的访问 -->
            <resources location="/images/" mapping="/images/**"/>       
            <resources location="/js/" mapping="/js/**"/>       
            <resources location="/css/" mapping="/css/**"/>  
           
           
          
            
                 
</beans:beans>